<br/>

<section id="supportus">
  <h2>Support us</h2>
  <center>
    <a href='http://www.pledgie.com/campaigns/22257'><img alt='Click here to lend your support to: dSploit and make a donation at www.pledgie.com !' src='http://www.pledgie.com/campaigns/22257.png?skin_name=chrome' border='0' /></a>
  </center>

<br>
<h2>Sponsors</h2>
<p style="text-transform: none;">
<a href="http://grossweber.com/b/dsploit-1" target="_blank">GROSSWEBER</a> provides software development consulting and <a href="http://grossweber.com/b/dsploit-2" target="_blank">training services</a>. 
<em>We like to work on open source. We use it heavily. We love dSploit!</em>
</p>

</section>

<div style="margin-left: -15px;">
<script type="text/javascript"><!--
google_ad_client = "ca-pub-5373888916618771";
/* 320x250 sidebar */
google_ad_slot = "1401505348";
google_ad_width = 300;
google_ad_height = 250;
//-->
</script>
<script type="text/javascript"
src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
</script>
</div>
<br/>
<center>
	<a href="http://update.dsploit.net/apk" class="round-button">Download v1.0.31b</a>
</center>
<br/>
<center>or</center>
<br/>
<center>
	<a href="http://update.dsploit.net/nightly" class="round-button">Nightly Build</a>
</center>
<br/>

