<ul class="main-navigation">
	<li><a href="{{ root_url }}/">Blog</a></li>
	<li><a href="/about/">About</a></li>
	<li><a href="/features/">Features</a></li>
	<li><a href="/video/">Video</a></li>
	<li><a href="/faq/">FAQ</a></li>
	<li><a href="/how-to-contribute/">How to Contribute</a></li>  
	<li><a href="/the-team/">The Team</a></li>
	<li><a href="http://forum.xda-developers.com/showthread.php?t=1914699" target="_blank">Forum</a></li>
	<li><a href="{{ root_url }}/blog/archives">Archives</a></li>
</ul>
